* {
    box-sizing: border-box;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 5%;
}

.mainMenu > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}

.header>div:first-child {
    height: 100%;
}

.mainsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.image {
    display: block;
    margin-right: 30px;
    margin-bottom: auto;
    height: 50vh;
}

.image>img {
    max-height: 100%;
    width: auto;
}

.namerulesranking {
    display: flex;
    flex-direction: column;
    height: 60vh;
    max-width: 60vw;
    width: 100%;
    margin-left: auto;
}

.namerulesranking>div:nth-child(2) {
    height: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: flex-end;
    align-self: flex-end;
}

#howToPlay,
#theBestPlayers {
    background-color: white;
    margin: 10px 0;
    border-radius: 16px;
}


@media screen and (max-width: 700px) {
    .mainMenu > .header{
        height: fit-content;
    }
    
    #menu-logo{
        display: none;
    }

    .modeSelectorContainer{
        width: 100%;
        margin: 10px;
        height: fit-content;
        box-shadow: 0 2px 2px rgba(0,0,0,.25), 2px 2px 20px rgba(255,0,0,.9), inset 2px 3px 2px rgba(0,0,0,.5);
    }

    .mainMenuButton{
        font-size: 1.3em;
    }

    .mainsection{
        flex-direction: column;
        height:100%;
    }

    .mainsection > .image{
        margin: 0;
        height: 40vh;
    }

    img.border{
        box-shadow: 0 2px 2px rgba(0,0,0,.25), 2px 2px 20px rgba(255,0,0,.9), inset 2px 3px 2px rgba(0,0,0,.5);
    }

    .namerulesranking{
        margin: 0;
        max-width: 100vw;
        justify-content: space-around;
        height: 50%;
    }

    .gameModeContainer{
        margin-top: 10px;
        padding: 15px;
        font-size: 1.3em;
    }

    #howToPlay{
        height: 100%;
        box-shadow: 0 2px 2px rgba(0,0,0,.25), 2px 2px 20px rgba(255,0,0,.9), inset 2px 3px 2px rgba(0,0,0,.5);
    }

    #howToPlay > .headerDiv{
        margin: 15px 0 0 0;
        font-size: 1.3em;
    }

    #howToPlay > .gameRulesP{
        font-size: 1em;
        padding: 10px 15px;
        height: 100%;
    }

    .buttons > .button{
        font-size: 1em;
    }

    .namerulesranking > #theBestPlayers{
        padding: 5px;
    }

    #theBestPlayers > *{
        font-size: 0.8em;
    }

    #theBestPlayers > .rankingTitle {
        margin: 5px;
    }
    #theBestPlayers > .rankingTitle > *{
        font-size: 20px;
    }




  }