.mainMenu {
    display: flex;
    height: 100vh;
}

.images{
    display:flex;
    flex-direction: column;
    align-items: center;  
    width: 30%;  
}

.menus{
    display:flex;
    flex-direction: column;
    align-items: center;   
    width: 60%;
}