.gameModeContainer{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 1em;
    font-weight: 500;
    background-color: white; 
    border-radius: 16px; 
    box-shadow: 0 4px 4px rgba(0,0,0,.25), 4px 4px 40px rgba(255,0,0,.9), inset 4px 5px 4px rgba(0,0,0,.5);
}
